<h1>{{tour.name}}</h1>
{{#each bands}}
    <ul>
        <li>
            <a href ="/{{_id}}">
                {{name}} 
            </a>
        </li>
    </ul>
    <a href="/{{_id}}/edit">Edit</a>
    <form action="/{{tour.id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete"></submit>
    </form>
{{/each}}

</br>
</br>
<a href ="/{{tour._id}}/new">Add Band</a>

<a href ="/">Home</a>