<div class="container">
    <header class="hero is-dark">
        <div class="hero-body">
            <h1 class="title has-text-centered">{{band.name}}</h1>
        </div>
    </header>

     <main class="section has-background-grey-light has-text-black has-text-weight-bold">
        <div>
            <img src="{{band.image}}"/>
            </br>
            {{band.genre}}
                {{#each members}}
                <ul>
                    <li>
                        name: {{name}} - role: {{role}}
                    </li>
                </ul>
                <a href="/{{_id}}/edit">Edit</a>
    
                {{/each}}

            </br>
            </br>
        <form action="?" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
            </br>
            <label for="name">Role</label>
            <input type="text" name="role" placeholder="Role">
            </br>

            <input class="button is-dark is-small" type="submit" value="Submit">
        </form>

        <a href ="/">Home</a>
    </div>
    </main>
</div>